.itemsList-ul {
  list-style-type: none;
}

.itemsList-ul li {
  padding: 5px;
  width: 550px;
  margin: 0 auto;
  border: 1px solid black;
  background: lightgrey;
  text-align: left;
  font-weight: bold;
}

.itemsList-ul .checkbox {
  float: left;
  width: 20px;
  height: 20px;
}

.itemsList-ul .icon {
  float: right;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  font-weight: normal;
}